html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

.header {
  width: 100%;
  height: 130px;
  background-color: #FAFAFA;
  border: .5px solid black;
  border-bottom: .3px solid #E5E5E5;
  display: block;

}

.logo {
  width: 122px;
  margin-top: 28px;
  margin-left: 10px;

}

.search {
  position: absolute;
  height: 44px;
  margin-left: 160px;
  margin-top: -51px;
  width: 610px;
}

.r-button {
  position: absolute;
  float: right;
  height: 44px;
  width: 90px;
  margin-top: -52px;
  margin-left: 1320px;
}

.sign-in {
  margin-top: 13px;
  margin-left: 10px;
}

span {
  border: 1px solid #6fbaff;
  color: white;
  background-color: #6fbaff;
  border-radius: 5px;
  padding: 10px;
}

a:link {
  color: #8a8282;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: none;
  border-bottom: 2px solid blue;
}

.b-buttons {
  height: 50px;
}

.l-bs {
  height: 50px;
  width: 360px;
  margin-left: 159px;
}

.all, .images, .news, .videos, .maps, .more {
  width: 46px;
  display: inline-block;
  margin-top: 17px;
  margin-left: 8px;
  text-align: center;
  font-family: sans-serif;
}

.all {
  width: 25px;
}
.images {
  width: 53px;
}
 .videos {
  width: 53px;
}

.r-bs {
  height: 50px;
  width: 150px;
  margin-left: 610px;
  margin-top: -52px;
}

.settings, .tools {
  display: inline-block;
  margin-top: 17px;
  margin-left: 8px;
  text-align: center;
  font-family: sans-serif;
}

.tools {
  margin-left: 10px;
}
.settings {
  margin-left: 40px;
}
